table {border: medium solid black;
    width: 50%; background-color: rgb(148, 214, 148); border-radius: 5%;
    }
  
thead { border: medium solid #000000; width: 50%; background-color: blue
        }
td {border: thin solid #6495ed;
            width: 50%;border-radius: 15%;background-color: cornsilk;
            }
th {border: medium solid black;
    width: 50%; background-color: rgb(148, 214, 148); border-radius: 15%;background-color: rgb(229, 245, 192);
    }
  